[submodule "vendor/dotbot"]
	path = vendor/dotbot
	url = git@github.com:anishathalye/dotbot.git
[submodule "vendor/powerline-fonts"]
	path = vendor/powerline-fonts
	url = git@github.com:powerline/fonts.git
[submodule "vendor/nerd-fonts"]
	path = vendor/nerd-fonts
	url = git@github.com:ryanoasis/nerd-fonts.git
